html, body {
    width: 100vw;  /* Ensures full width */
    overflow-x: hidden; /* Prevents horizontal scrolling */
    margin: 0px;
    padding: 0px;
  }
  
  #root, .app-container {
    max-width: 1600px; /* Adjust as needed */
 
    margin: 0 ; /* Centers the content */
  }
  